
.navbar.navbar-default.navbar-static-top,
.navbar-default.sidebar,
.sidebar-nav.navbar-collapse,
.nav.nav-second-level,
.chat-panel.panel.panel-default > .panel-body,
.right-side,
.saved-chart-link,
.navbar-fixed-bottom,
.saved-chart-link{
  background-color: #2c3e50;
}

.chat-panel-li {
  padding-bottom: 30px;
}
.navbar-default.navbar-brand {
  color: white;
}

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: #1A242F;
}

.data-view {
    display: none;
}

#footer_content > p{
  font-size: small;
}

#saved_charts > h4{
  color: #18BC9C;
}

.data-views{
  padding-bottom: 60px;
}
