<!DOCTYPE html>
<html language="en" ng-app="fanalyticalApp">

  <!-- HEAD -->
  <head>
    <!-- META THINGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fanalytical</title>

    <!-- CSS: boostrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS: fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- CSS: side menue -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- CSS: Admin template -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- CSS: Freelancer template -->
    <link href="/static/css/freelancer.css" rel="stylesheet">
    <!-- CSS: custom -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

    <!-- JAVASCRIPT: JQuery -->
    <script src="static/js/jquery.js"></script>
    <!-- JAVASCRIPT: Bootstrap Core -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- JAVASCRIPT: side menue -->
    <script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- JAVASCRIPT: Admin template -->
    <script src="/static/dist/js/sb-admin-2.js"></script>
    <!-- JAVASCRIPT: AngularJS -->
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-route.min.js"></script>
    <!-- JAVASCRIPT: the AngularJS app -->
    <script src="/static/js/main.js"></script>
  </head>

  <!-- BODY -->
  <body ng-controller="mainController">
    <div id="wrapper">

      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-bar-chart"></i> Fanalytical</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">
            <li>
              <p class="text-muted">{{user['full_name']}}</p>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> My Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search data...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-user fa-fw"></i> Players<span class="fa arrow"></span></a>
                      <ul class="nav nav-second-level">
                          <li>
                              <a href="#">by name</a>
                          </li>
                          <li>
                            <a href="#">by position <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                              {% include "partials/positions.html" %}
                            </ul>
                            <!-- /.nav-third-level -->
                          </li>
                          <li>
                            <a href="#">by team<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                              {% include "partials/teams.html" %}
                            </ul>
                            <!-- /.nav-second-level -->
                          </li>
                      </ul>
                      <!-- /.nav-second-level -->
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-users fa-fw"></i> Teams<span class="fa arrow"></span></a>
                      <!-- /.nav-second-level -->
                      <ul class="nav nav-second-level">
                        {% include "partials/teams.html" %}
                      </ul>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-arrows fa-fw"></i> Positions<span class="fa arrow"></span></a>
                      <ul class="nav nav-second-level">
                        {% include "partials/positions.html" %}
                      </ul>
                      <!-- /.nav-second-level -->
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-flash fa-fw"></i> Ninja Tools</a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-dollar fa-fw"></i> bet moolah<span class="fa arrow"></span></a>
                      <ul class="nav nav-second-level">
                        <li>
                            <a href="https://www.fanduel.com/" target="_blank">Fandual</a>
                        </li>
                      </ul>
                      <!-- /.nav-second-level -->
                    </li>
                    <li class="chat-panel-li">
                      <div class="chat-panel panel panel-default">
                          <div class="panel-heading">
                              <i class="fa fa-folder fa-fw"></i>
                              Saved Charts
                          </div>
                          <!-- /.panel-heading -->
                          <div class="panel-body">
                              <ul class="chat">
                                <li>
                                  <!-- the style is in the tag because i couldnt get it to work in the sheet. -->
                                  <a class="saved-chart-link" style="background-color: #2c3e50;">chart 1</a>
                                  <div class="btn-group pull-right">
                                      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                          <i class="fa fa-chevron-down"></i>
                                      </button>
                                      <ul class="dropdown-menu slidedown">
                                          <li>
                                              <a href="#">
                                                  <i class="fa fa-external-link-square fa-fw"></i> Open
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">
                                                  <i class="fa fa-remove fa-fw"></i> Delete
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                                </li>
                                <li>
                                  <a class="saved-chart-link" style="background-color: #2c3e50;">chart 3</a>
                                  <div class="btn-group pull-right">
                                      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                          <i class="fa fa-chevron-down"></i>
                                      </button>
                                      <ul class="dropdown-menu slidedown">
                                          <li>
                                              <a href="#">
                                                  <i class="fa fa-external-link-square fa-fw"></i> Open
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">
                                                  <i class="fa fa-remove fa-fw"></i> Delete
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                                </li>
                                <li>
                                  <a class="saved-chart-link" style="background-color: #2c3e50;">my graph</a>
                                  <div class="btn-group pull-right">
                                      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                          <i class="fa fa-chevron-down"></i>
                                      </button>
                                      <ul class="dropdown-menu slidedown">
                                          <li>
                                              <a href="#">
                                                  <i class="fa fa-external-link-square fa-fw"></i> Open
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">
                                                  <i class="fa fa-remove fa-fw"></i> Delete
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                                </li>
                                <li>
                                  <a class="saved-chart-link" style="background-color: #2c3e50;">temp</a>
                                  <div class="btn-group pull-right">
                                      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                          <i class="fa fa-chevron-down"></i>
                                      </button>
                                      <ul class="dropdown-menu slidedown">
                                          <li>
                                              <a href="#">
                                                  <i class="fa fa-external-link-square fa-fw"></i> Open
                                              </a>
                                          </li>
                                          <li>
                                              <a href="#">
                                                  <i class="fa fa-remove fa-fw"></i> Delete
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                                </li>
                              </ul>
                          </div>
                          <!-- /.panel-body -->
                      </div>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
      </nav>
      <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-8">
          <br>
          <br>
            <!-- VIEWS START HERE -->
            <div class="data-views">
              <a href="#" ng-click="show_player(5)">Antonio Gates</a>
              <br>
              <!-- VIEW 1 -->
              <div id="players_view" class="data-view">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-sm-8">
                        <h3 class="panel-title">{{player.name|angular}}</h3>
                      </div>
                      <div class="col-sm-4">
                        <a class="close" ng-click="close_current_view()">×</a>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <ul>
                      <li>{{player.team|angular}}</li>
                      <li>{{player.college|angular}}</li>
                      <li>{{player.age|angular}}</li>
                      <li>{{player.DOB|angular}}</li>
                      <li>{{player.height|angular}}</li>
                      <li>{{player.weight|angular}}</li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- VIEW 2 -->
              <div id="positions_view" class="data-view">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-sm-8">
                        <h3 class="panel-title">Positions</h3>
                      </div>
                      <div class="col-sm-4">
                        <a class="close" ng-click="close_current_view()">×</a>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <p><span>{{position_value|angular}}</span></p>
                  </div>
                </div>
              </div>

              <!-- VIEW 3 -->
              <div id="teams_view" class="data-view">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-sm-8">
                        <h3 class="panel-title">Teams</h3>
                      </div>
                      <div class="col-sm-4">
                        <a class="close" ng-click="close_current_view()">×</a>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <p><span>{{team_value|angular}}</span></p>
                  </div>
                </div>
              </div>

              <!-- VIEW 4 -->
              <div id="null_view" class="well well-lg">
                <text class="text-muted">Browse data with the menue.</text>
              </div>
            </div>
            <!-- VIEWS END HERE -->
        </div>
        <div class="col-sm-1">
        </div>
      </div>
      <footer class="navbar-fixed-bottom">
        <div class="container">
          <div class="container" id="footer_content">
            <br>
            <p class="text-muted text-center"><span class="copyright">&copy;</span>2015 fanalytical</p>
          </div>
        </div>
      </footer>
    <!-- wrapper -->
    </div>
  </body>
</html>
